/* src/App.css */
.App {
  text-align: left;
  padding: 2em;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5em;
}

.form-group label {
  display: inline-block;
  width: 200px;
}

.form-group input,
.form-group select {
  width: 150px;
  margin-left: 5px;
}
.form-group label {
  display: inline-block;
  width: 200px;
  font-size: 12px;
}
.form-group #credit-range-max {
  margin-left: 15px;

}

.form-group #credit-range {
  display: flex;
  align-items: center;
}

.form-group #credit-range label {
  width: 200px;
  font-size: 12px;
}
.credit-range-label {
  margin-left: 10px;
  margin-right: -190px;
  font-size: 12px;
}

.textarea-attribute {
  height: 100px;
  overflow-y: scroll;
}
.form-group label {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.form-group label input[type="checkbox"] {
  margin-left: 55px;
}
